<div>
  <h2>Popular courses</h2>
  <!-- <button (click)="onSubmit()">View course list</button> -->
</div>

<!-- <div *ngIf="showCourseList">
  <app-course-list></app-course-list>
</div> -->
<!-- <div><h3>Select a course to view</h3></div>
<select #course (change)="cl.changeCourse(course.value)">
  <option *ngFor="let course of cl.courses">
    {{ course.name }}
  </option>
</select>
<app-course-list #cl="courselist"></app-course-list>
<div>
  <table border="2">
    <tr *ngFor="let c of cl.course">
      <td>{{ c.name }}</td>
      <td>{{ c.id }}</td>
    </tr>
  </table>
</div> -->
<h2>choose courses</h2>
<div>
  <select #course (change)="name=course.value">
    <option></option>
    <option>angular</option>
    <option>typescript</option>
    <option>react</option>
    <option>node js</option>
  </select>
</div>
<app-course-list [cName]="name"></app-course-list>
